.logoImage{
    width: 150px;
    display: inline;
}
.navigation {
display: inline;
}
h3, h4 {
    text-align: center;
}
section {
    border: 2px solid red;
    height: 300px;
}
a {
    text-decoration: none;
}
.highlighted {
    color: blue;
}
