.container {
    width: 600px;
    height: 600px;
    border: 1px solid purple;
    display: flex;
}
.container > div {
    height: 200px;
    width: 200px;
    outline: 1px solid purple;
    box-sizing: border-box;
}
.container1 {
    flex-wrap: wrap;
}
.container1 > .bigBox {
    width: 400px;
}
.container4 {
flex-wrap: wrap;
}
.container4 > .bigBox {
    width: 250px;
}
.container4 > .smallBox {
    width: 100px;
}